@import '../base';

.main_container {
	position: relative;
}

.navbar {
	min-height: 85px;
}

.page-container {
	min-height: calc(100vh - 85px - 90px);
}

.content-wrap {
	padding-bottom: 2.5rem;
}

.footer-container {
	min-height: 85px;

	a {
		color: $spring-dark-green;
		text-decoration: none;
		text-wrap: none;
	}
}
