@import '../base/mixin/crossbrowser';

.table-element-container {
  overflow-x: auto;
  @include custom-scrollbar($size: 12px);

  .owner-details-table {
    &.table-striped {
      dt {
        min-width: 85px;
      }
    }

    &.table-condensed {
      width: 100%;

      .visit-date {
        width: 35%;
        min-width: 90px;
      }

      .visit-desc {
        width: 65%;
        min-width: 160px;
      }

      tbody {
        tr {
          margin-bottom: 10px;
        }
      }
    }
  }
}