@import '../base/mixin/crossbrowser';
@import '../base';

.owners-table-container {
  overflow-x: auto;
  @include custom-scrollbar($size: 12px);

  table {
    tr {
      td {
        min-height: 50px;
      }

      .owner-name, .owner-telephone {
        min-width: 135px;
      }

      .owner-city {
        min-width: 115px;
      }

      .owner-address, .owner-pets {
        min-width: 150px;
      }

      .owner-details-link {
        color: $spring-dark-green;
      }
    }
  }

}