<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<table class="table table-striped visit-form-summary-table">
    <thead>
    <tr>
        <th>Pet Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.birthDate}"></td>
        <td th:text="${pet.petType.getName()}"></td>
        <td th:text="${owner?.firstname + ' ' + owner?.lastname}"></td>
    </tr>
</table>

<div class="mt-5">
    <h2>
        <th:block th:if="${visit['new']}">New</th:block>
        Visit
    </h2>
    <form th:object="${visit}" class="form-horizontal needs-validation" method="post" novalidate>
        <div class="form-group has-feedback">
            <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date', true)}" aria-label="date"/>
            <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text', true)}" aria-label="description"/>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 mt-2 d-flex justify-content-center">
                <input type="hidden" name="petId" th:value="${pet.id}"/>
                <button class="btn btn-primary" type="submit">Add Visit</button>
            </div>
        </div>
    </form>
</div>

<div class="mt-5">
    <h3>Previous Visits</h3>
    <table class="table table-striped previous-visits-table">
        <tr>
            <th>Visit Date</th>
            <th>Description</th>
        </tr>
        <tr th:each="visit : ${pet.visits}">
            <td th:text="${visit.date == null ? 'N/A' : #dates.format(visit.date, 'yyyy-MM-dd')}">N/A</td>
            <td th:text=" ${visit?.description ?: 'N/A'}">N/A</td>
        </tr>
    </table>
</div>
</body>
</html>
