<html th:replace="~{fragments/layout :: layout (~{::body},'owners')}"
	  xmlns:th="https://www.thymeleaf.org">

<body>
<h2>
	<th:block th:if="${pet['new']}">New</th:block>
	Pet
</h2>
<form class="form-horizontal needs-validation" id="add-pet-form" method="post" novalidate th:object="${pet}">
	<div class="form-group has-feedback">
		<div class="col-sm-10 mt-3">
			<p class="mb-0">Owner</p>
			<p class="mb-0 border border-1 rounded p-2" th:text="${#strings.trim(owner?.firstname + ' ' + owner?.lastname)}"></p>
		</div>
		<div>
			<input aria-label="name" id="name" th:replace="~{fragments/inputField :: input ('Name', 'name', 'text', true)}"/>
		</div>
		<div>
			<input aria-label="birthdate" id="birthDate" th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date', true)}"/>
		</div>
		<div>
			<input aria-label="type" id="type" th:replace="~{fragments/selectField :: select ('Type', 'petType', ${types}, true, ${pet.getPetType()})}"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10 mt-3 d-flex justify-content-center">
			<button class="btn btn-primary"
					th:text="${text}" th:with="text=${pet['new']} ? 'Add Pet' : 'Update Pet'" type="submit">Add Pet
			</button>
		</div>
	</div>
</form>
<div class="col-sm-offset-2 col-sm-10 mt-4 d-flex justify-content-center" th:if="${petId != null}">
	<a class="btn btn-danger" role="button" th:href="'/owners/' + ${ownerId} + '/pets/' + ${petId} +'/delete'" th:text=" ${pet != null ? 'Delete Pet' : 'N/A'}">N/A</a>
</div>
</body>
</html>
