// Custom scrollbar
@mixin custom-scrollbar($size: 10px, $foreground-color: #6db33f, $border-radius: $size, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	&::-webkit-scrollbar {
		width: $size; /* Mostly for vertical scrollbars */
		height: $size; /* Mostly for horizontal scrollbars */
	}

	&::-webkit-scrollbar-thumb { /* Foreground */
		background: $foreground-color;
		border-radius: $border-radius;
	}

	&::-webkit-scrollbar-track { /* Background */
		background: $background-color;
		border-radius: $border-radius;
	}

	// For Internet Explorer
	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}

// Hide scrollbar
@mixin hide-scrollbar() {
	&::-webkit-scrollbar { // for Chrome, Safari, and Opera
		width: 0;
		height: 0;
		display: none;
	}
	scrollbar-width: none; // Firefox
	-ms-overflow-style: none; // IE 10+
}

// Aspect ratio for image & its wrapper
@mixin aspect-ratio($width, $height, $childSelector ) {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	& > #{$childSelector} {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));

		// If object-fit is supported, use extra aspect-ratio for the wrapped image
		@supports (object-fit: cover) {
			aspect-ratio: #{$width} / #{$height};
			object-fit: cover;
		}
	}
}


// Transform
@mixin transform( $transforms ) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

// Translate
@mixin translate( $value... ) {

	@include transform(translate($value));

}

// TranslateX
@mixin translateX( $value: 0 ) {
	@include transform(translateX($value));
}

// TranslateY
@mixin translateY( $value: 0 ) {
	@include transform(translateY($value));
}