<html>
<body>
<form>
    <th:block th:fragment="input (label, name, type)">
        <div th:with="valid=${!#fields.hasErrors(name)}"
             th:class="${'form-group' + (valid ? '' : ' has-error')}"
             class="form-group row">
            <label th:for="${label + '' + type}" class="col-sm-2 control-label mt-3" th:text="${label}">Label</label>
            <div class="col-sm-10">
                <div th:switch="${type}">
                    <label for="text-input"></label>
                    <input id="text-input" th:case="'text'" class="form-control mt-2" type="text" th:field="*{__${name}__}"/>
                    <label for="date-input"></label>
                    <input id="date-input" th:case="'date'" class="form-control mt-2" type="date" th:field="*{__${name}__}"/>
                </div>
                <span th:if="${valid}"
                      class="fa fa-ok form-control-feedback"
                      aria-hidden="true"></span>
                <th:block th:if="${!valid}">
            <span class="fa fa-remove form-control-feedback"
                  aria-hidden="true"></span>
                    <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                </th:block>
            </div>
        </div>
    </th:block>
</form>
</body>
</html>
