<html>
<body>
<form>
    <th:block th:fragment="input (label, name, type, isRequired)">
        <div th:with="valid=${!#fields.hasErrors(name)}"
             th:class="${'form-group' + (valid ? '' : ' has-error')}"
             class="form-group row">
            <div class="col-sm-10">
                <div th:switch="${type}">
                    <label th:for="${name + '' + type}" class="col-sm-4 control-label mt-3">
                        <span>
                            <span th:text="${label}">Label</span>
                            <span th:text="${isRequired} ? '*' : ''" class="text-danger"></span>
                        </span>
                    </label>
                    <input th:id="${name + '' + type}" th:case="'text'" class="form-control mt-2" type="text" th:field="*{__${name}__}" th:required="${isRequired}" aria-label=""/>
                    <input id="date-input" th:case="'date'" class="form-control mt-2" type="date" th:field="*{__${name}__}" th:required="${isRequired}" aria-label=""/>
                    <textarea th:id="${name + '' + type}" th:case="'textarea'" class="form-control mt-2" rows="3" th:field="*{__${name}__}" th:required="${isRequired}" aria-label=""></textarea>
                </div>
                <span th:if="${valid}"
                      class="fa fa-ok form-control-feedback"
                      aria-hidden="true"></span>
                <th:block th:if="${!valid}">
            <span class="fa fa-remove form-control-feedback"
                  aria-hidden="true"></span>
                    <span class="help-inline" th:errors="*{__${name}__}">Error</span>
                </th:block>
            </div>
        </div>
    </th:block>
</form>
</body>
</html>
